<center>
<h1>Recipe Box</h1>
</center>

<h2>Categories</h2>

<ul>
  <% @tags.each() do |tag| %>
  <li> <a href="/tags/<%= tag.id() %>"><%= tag.name() %></a></li>
  <% end %>
</ul>


<form action="/tags" method="post">
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success btn-xs">add a category</button>
</form>

<a href="/ingredients/all">View all ingredients</a>
