<center>
<h1>Recipe Box</h1>
</center>


<h2>Categories ("tags") go here:</h2>

<ul>
  <% @tags.each() do |tag| %>
  <li> <a href="/tags/<%= tag.id() %>"><%= tag.name() %></a></li>
  <% end %>
</ul>

<p>Add a Category</p>

<form action="/tags" method="post">
  <label for="name">name it</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success">add it</button>
</form>
