<h1>all ingredients</h1>
<ul>
  <% @ingredients.each() do |ingredient| %>
  <li> <a href="/ingredient/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
  <% end %>
</ul>

<br>
<a href="/" class="btn btn-success btn-xs">Back to Categories</a>
